$color-orange: #F36E44;
$color-white: #fff;
$color-primary-blue: #007bff;
$color-black: #000;
$color-grey-primary: #999;
$color-grey-secondary: #E5E5E5;
$color-light: #f8f9fa;
$color-dark-blue: #2E4051;
$color-yellow: #F4C63D;
$color-red: #CC0000;