.padding-bottom-md {
    padding-bottom: 18px;
}

.color-pale {
    color: $color-black-faded;
}

.color-white {
    color: $color-white;
}

.-bold {
    font-weight: 700;
}

.-text-center {
    text-align: center;
}

.line {
    width: 100%;
    background-color: $color-black;
    height: 10px;
}